<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiekang.king.liangcang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.Goods_DetailActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activity.BrandDetailsActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.ProductSearchActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".activity.UserInformationActivity" />
        <activity android:name=".activity.UserSearchActivity" />
        <activity android:name=".activity.BeforeLoadActivity" />
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.ShopInfoActivity"/>
    </application>

</manifest>